Repository p0l1t1c1an/Chirrup: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, android-test

.gitlab-ci.yml:

#this is a config file for CI/CD
stages:
 - maventry
 - maventest
 - mavendeploy
 - androidbuild
 - androidtest
    
maven-build:
    only:
      changes:
       - Backend/**/*
    stage: maventry
    tags:
     - springboot_runner
    script:
     - cd Backend/server
     - mvn package
     
maven-test:
    only:
      changes:
       - Backend/**/*
    stage: maventest
    tags:
     - springboot_runner
    script:
     - cd Backend/server
     - mvn test
    artifacts:
      paths:
       - Backend/server/target/*.jar

autoDeploy:
    only:
      refs:
       - master
       - schedules
      changes:
       - Backend/**/*
    stage: mavendeploy
    tags:
     - springboot_runner
    script:
     - cd Backend/server
     - mvn package
     - sudo mv target/*.jar /target/web-demo.jar
     - sudo systemctl stop system-web-demo
     - sudo systemctl start system-web-demo

android-build:
    only:
      changes:
       - Frontend/**/*
    image: javiersantos/android-ci:latest
    stage: androidbuild
    tags: 
     - android_runner
    before_script:
     - export GRADLE_USER_HOME='pwd'/.gradle
     - chmod +x ./Frontend/gradlew
    script:
     - cd Frontend
     - ./gradlew assemble
    artifacts:
      paths:
       - Android_test/app/build/outputs/
      
android-test:
    only:
      changes:
       - Frontend/**/*
    image: javiersantos/android-ci:latest
    stage: androidtest
    tags: 
     - android_runner
    before_script:
     - export GRADLE_USER_HOME='pwd'/.gradle
     - chmod +x ./Frontend/gradlew
    script:
     - cd Frontend
     - ./gradlew test

more UI cleanup
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/CreateNewProfile.java
  Frontend/app/src/main/res/layout/fragment_newprofile.xml
Due: android-build, android-test

code cleanup
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/CreateNewProfile.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/LoginFragment.java
Due: android-build, android-test

Fixed fuzzy test
  Backend/server/src/main/java/coms309/search/SearchService.java
  Backend/server/src/test/java/coms309/searchTests/SearchServiceTest.java
Due: maven-build, maven-test, autoDeploy

dms can be made and deleted successfully
  Backend/server/src/main/java/coms309/directmessage/DirectMessage.java
  Backend/server/src/main/java/coms309/directmessage/DirectMessageController.java
  Backend/server/src/main/java/coms309/directmessagegroup/DirectMessageGroup.java
  Backend/server/src/main/java/coms309/directmessagegroup/DirectMessageGroupController.java
  Backend/server/src/main/java/coms309/post/Post.java
  Backend/server/src/main/java/coms309/user/User.java
Due: maven-build, maven-test, autoDeploy

fix link
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/LoginFragment.java
Due: android-build, android-test

Logic put in for websocket messaging. All that needs to be finished is debugging it.
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
  Frontend/app/src/main/res/layout/fragment_settings.xml
Due: android-build, android-test

Login now returns a String of id
  Backend/server/src/main/java/coms309/login/LoginController.java
Due: maven-build, maven-test, autoDeploy

Fixed POST mapping for login
  Backend/server/src/main/java/coms309/login/LoginController.java
Due: maven-build, maven-test, autoDeploy

Fixed api reference for login
  Backend/server/src/main/java/coms309/login/LoginController.java
Due: maven-build, maven-test, autoDeploy

simplify image request
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/AppController.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/MainActivity.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/adminfeed/AdminFeedFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/adminfeed/AdminFeedPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/adminfeed/reportpost/ReportPostFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/adminfeed/reportpost/ReportPostPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/CreateNewProfile.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/LoginFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/mainfeed/MainFeedFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/mainfeed/MainFeedPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/parentdashboard/ChildListPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/parentdashboard/childfeed/ChildFeedFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/parentdashboard/childfeed/ChildFeedPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/parentdashboard/childuser/ChildUserFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/parentdashboard/childuser/ChildUserPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/post/PostFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/post/PostPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/post/comments/CommentsFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/post/comments/CommentsPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/other/OtherProfileFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/other/OtherProfilePresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/personal/PersonalProfileFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/personal/PersonalProfilePresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/personal/followers/FollowersPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/profile/personal/following/FollowingPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/search/SearchFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/search/SearchPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/user/UserFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/user/UserPresenter.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/utils/LruBitmapCache.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/volley/VolleyListener.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/volley/VolleyRequester.java
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/VolleyTest.java
Due: android-build, android-test

remove unused methods
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/AppController.java
Due: android-build, android-test

fix image tests
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/VolleyTest.java
Due: android-build, android-test

image setter
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/volley/VolleyRequester.java
Due: android-build, android-test

pictures are added using base 64 conversion
  Backend/server/pom.xml
  Backend/server/src/main/java/coms309/user/UserController.java
Due: maven-build, maven-test, autoDeploy

new message only returns id
  Backend/server/src/main/java/coms309/directmessage/DirectMessageController.java
Due: maven-build, maven-test, autoDeploy

new dm returns dm object
  Backend/server/src/main/java/coms309/directmessage/DirectMessageController.java
Due: maven-build, maven-test, autoDeploy

Websockets debugged and functional.
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageInfo.java
Due: android-build, android-test

Mockito tests done.
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/WebsocketMessageTest.java
Due: android-build, android-test

clears user followers parents children on delete
  Backend/server/src/main/java/coms309/user/UserController.java
Due: maven-build, maven-test, autoDeploy

fix search results showing up twice
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/search/SearchPresenter.java
Due: android-build, android-test

clean up layouts
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/login/LoginFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
  Frontend/app/src/main/res/layout/fragment_childcard.xml
  Frontend/app/src/main/res/layout/fragment_login.xml
  Frontend/app/src/main/res/layout/fragment_messaging.xml
  Frontend/app/src/main/res/layout/fragment_newpost.xml
  Frontend/app/src/main/res/layout/fragment_newprofile.xml
  Frontend/app/src/main/res/layout/fragment_search.xml
  Frontend/app/src/main/res/layout/fragment_settings.xml
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/WebsocketMessageTest.java
Due: android-build, android-test

fix settings hard coded id
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/CurrentUserData.java
  Frontend/app/src/main/res/layout/fragment_settings.xml
Due: android-build, android-test

toast messages
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
Due: android-build, android-test

fix settings not working
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
Due: android-build, android-test

clarification messages
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/settings/SettingsFragment.java
  Frontend/app/src/main/res/layout/fragment_login.xml
Due: android-build, android-test

comment out broken code
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/WebsocketMessageTest.java
Due: android-build, android-test

fix messages
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
Due: android-build, android-test

fix groups
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/main/res/layout/fragment_messaging.xml
Due: android-build, android-test

another fix attempt
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
Due: android-build, android-test

clear text
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
Due: android-build, android-test

comment out broken tests
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/WebsocketMessageTest.java
Due: android-build, android-test

fix some tests
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/messaging/MessageFragment.java
  Frontend/app/src/test/java/cs309/sr2/chirrupfrontend/WebsocketMessageTest.java
Due: android-build, android-test

fix post crash
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/adminfeed/reportpost/ReportPostFragment.java
Due: android-build, android-test

search as user
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/search/SearchFragment.java
Due: android-build, android-test

include import
  Frontend/app/src/main/java/cs309/sr2/chirrupfrontend/search/SearchFragment.java
Due: android-build, android-test

Update README.md
  README.md
Due: none

Changed myself to Jeremy
  README.md
Due: none

Fixed mistakes when updating myself
  README.md
Due: none
